@using TechShopSolution.ViewModels.Common;
@model PagedResult<TechShopSolution.ViewModels.Catalog.PaymentMethod.PaymentViewModel>

@{
    ViewData["Title"] = "Danh sách phương thức thanh toán";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section jsFooter {
    <script>
        window.onload = function () {
            var x = document.getElementById("snackbar");

            // Add the "show" class to DIV
            x.className = "show";

            // After 3 seconds, remove the show class from DIV
            setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);
        };
    </script>
}
<div class="container-fluid px-4">
    <h3 class="mt-4">Danh sách phương thức</h3>
    <ol class="breadcrumb mb-1">
        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
        <li class="breadcrumb-item active">Danh sách phương thức thanh toán</li>
    </ol>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="padding-container">
        <a class="btn btn-success mb-3" asp-action="Create" asp-controller="Payment">
            <i class="fa fa-plus"></i>
            Thêm mới
        </a>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0" asp-action="index" method="get" style="float: right;">
            <div class="input-group">
                <label for="pet-select"></label>
                <input class="form-control" name="Keyword" type="text" value="@ViewBag.Keyword" placeholder="Nhập từ khóa tìm kiếm..." aria-label="Nhập từ khóa tìm kiếm..." aria-describedby="btnNavbarSearch" />
                <button class="btn btn-primary" id="btnNavbarSearch" type="submit"><i class="fas fa-search"></i></button>
                <button class="btn btn-secondary" id="btnNavbarSearch" type="button" onclick="window.location.href='/brand/index'"><i class="fas fa-times"></i></button>
            </div>
        </form>
        <!-- Notification -->
        @if (ViewBag.SuccessMsg != null)
        {
            <div class="alert alert-success" id="snackbar" role="alert">
                <b>@ViewBag.SuccessMsg</b>
            </div>

        }

        <!-- The actual snackbar -->
        <div class="table-responsive shadow-lg">
            <table class="table table-bordered table-hover">
                <thead class="table-light thead-dark">
                    <tr>
                        <th scope="col">
                            Tên phương thức
                        </th>
                        <th scope="col">
                            Mô tả phương thức
                        </th>
                        <th scope="col">
                            Tạo lúc
                        </th>
                        <th scope="col">
                            Cập nhật lúc
                        </th>
                        <th scope="col" class="text-center">
                            Trạng thái
                        </th>
                        <th scope="col" class="text-center">
                            Tác vụ
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @if (Model.Items == null)
                    {
                        <tr>
                            <td>
                                Không có phương thức nào.
                            </td>
                        </tr>
                    }
                    else if (Model.TotalRecords == 0)
                    {
                        <tr>
                            <td>
                                Không tìm thấy phương thức.
                            </td>
                        </tr>
                    }
                    else
                    {
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td>
                                    @Html.ActionLink(item.name, "Update", new { id = item.id })
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.description)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.create_at)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.update_at)
                                </td>


                                @if (item.isActive)
                                {
                                    <td align="center">
                                        <input type="checkbox" checked onchange="location.href='@Url.Action("ChangeStatus", "Brand", new { id = item.id })'" data-toggle="toggle" data-onstyle="info" data-height="30" data-width="70">
                                    </td>
                                }
                                else
                                {
                                    <td align="center">
                                        <input type="checkbox" onchange="location.href='@Url.Action("ChangeStatus", "Brand", new { id = item.id })'" data-toggle="toggle" data-onstyle="info" data-height="30" data-width="70">
                                    </td>
                                }
                                <td align="center">
                                    <a asp-action="Delete" asp-route-id="@item.id" class="btn btn-sm btn-outline-danger" onclick="return confirm('Bạn có chắc muốn xóa phương thức này? thao tác này không thể hoàn tác?')">Xóa</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            @await Component.InvokeAsync("Pager", Model)
        </div>
    </div>
</div>