@using TechShopSolution.ViewModels.Common;
@model PagedResult<TechShopSolution.ViewModels.Catalog.Brand.BrandViewModel>

@{
    ViewData["Title"] = "Danh sách thương hiệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section jsFooter {
    <script>
        window.onload = function () {
            var x = document.getElementById("snackbar");

            // Add the "show" class to DIV
            x.className = "show";

            // After 3 seconds, remove the show class from DIV
            setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);
        };
    </script>
}
<div class="container-fluid px-4">
    <h3 class="mt-4">Danh sách thương hiệu</h3>
    <ol class="breadcrumb mb-1">
        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
        <li class="breadcrumb-item active">Danh sách thương hiệu</li>
    </ol>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="padding-container">
        <a class="btn btn-success mb-3" asp-action="Create" asp-controller="Customer">
            <i class="fa fa-plus"></i>
            Thêm mới
        </a>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0" asp-action="index" method="get" style="float: right;">
            <div class="input-group">
                <label for="pet-select"></label>
                <input class="form-control" name="Keyword" type="text" value="@ViewBag.Keyword" placeholder="Nhập từ khóa tìm kiếm..." aria-label="Nhập từ khóa tìm kiếm..." aria-describedby="btnNavbarSearch" />
                <button class="btn btn-primary" id="btnNavbarSearch" type="submit"><i class="fas fa-search"></i></button>
                <button class="btn btn-secondary" id="btnNavbarSearch" type="button" onclick="window.location.href='/brand/index'"><i class="fas fa-times"></i></button>
            </div>
        </form>
        <!-- Notification -->
        @if (ViewBag.SuccessMsg != null)
        {
            <div class="alert alert-success" id="snackbar" role="alert">
                <b>@ViewBag.SuccessMsg</b>
            </div>

        }

        <!-- The actual snackbar -->
        <div class="table-responsive shadow-lg">
            <table class="table table-bordered table-hover">
                <thead class="table-light thead-dark">
                    <tr>
                        <th scope="col">
                            Tên thương hiệu
                        </th>
                        <th scope="col">
                            Đường dẫn
                        </th>
                        <th scope="col">
                            Miêu tả
                        </th>
                        <th scope="col">
                            Từ khóa
                        </th>
                        <th scope="col" class="text-center">
                            Trạng thái
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @if (Model == null)
                    {
                        <tr>
                            <td>
                                Không có thương hiệu nào.
                            </td>
                        </tr>
                    }
                    else if (Model.TotalRecords == 0)
                    {
                        <tr>
                            <td>
                                Không tìm thấy thương hiệu.
                            </td>
                        </tr>
                    }
                    else
                    {
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td>
                                    @Html.ActionLink(item.brand_name, "Update", new { id = item.id })
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.brand_slug)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.meta_descriptions)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.meta_keywords)
                                </td>


                                @if (item.isActive)
                                {
                                    <td align="center">
                                        <input type="checkbox" checked onchange="location.href='@Url.Action("ChangeStatus", "Brand", new { id = item.id })'" data-toggle="toggle" data-onstyle="info" data-height="30" data-width="70">
                                    </td>
                                }
                                else
                                {
                                    <td align="center">
                                        <input type="checkbox" onchange="location.href='@Url.Action("ChangeStatus", "Brand", new { id = item.id })'" data-toggle="toggle" data-onstyle="info" data-height="30" data-width="70">
                                    </td>
                                }
                            </tr>
                        }
                    }
                </tbody>
            </table>
            @await Component.InvokeAsync("Pager", Model)

        </div>


    </div>

</div>