@using TechShopSolution.ViewModels.Catalog.Product;
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
@model HomeViewModel

@{
    ViewData["Title"] = "TechShop - Chuyên cung cấp linh kiện máy tính";
}


@section Slider {
    <div id="carouselBlk">
        <div id="myCarousel" class="carousel slide">
            <div class="carousel-inner">
                @for (int i = 0; i < Model.Sliders.Count; i++)
                {
                    <div class="item @(i == 0 ? "active": "")">
                        <div class="container">
                            <a href="@Model.Sliders[i].link" class="slide-link">
                                <img class="slider-image" src="@(Configuration["BaseAddress"] + "/user-content/" + @Model.Sliders[i].image)" alt="slide image" />
                            </a>
                        </div>
                    </div>
                }
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
    </div>
}


@{
    var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
}

<div class="row home-product-category">
    <div class="span9">
        <div class="well well-small">
            <h4>
                Sản phẩm nổi bật
                <small class="pull-right">
                    @Model.FeaturedProducts.Count Sản phẩm
                </small>
            </h4>
            <div class="row-fluid">
                <div id="featured" class="carousel slide">
                    <div class="carousel-inner">
                        @{
                            List<List<ProductOverViewModel>> featuredProducts = new List<List<ProductOverViewModel>>();
                            List<ProductOverViewModel> featuredPart = new List<ProductOverViewModel>();
                        }

                        @for (int index = 0; index < Model.FeaturedProducts.Products.Count; index++)
                        {
                            featuredPart.Add(Model.FeaturedProducts.Products[index]);
                            if (featuredPart.Count == 4 || index == Model.FeaturedProducts.Count - 1)
                            {
                                featuredProducts.Add(featuredPart);
                                featuredPart = new List<ProductOverViewModel>();
                            }
                        }
                        @for (int index = 0; index < featuredProducts.Count; index++)
                        {
                            <div class="item @(index == 0?"active":"")">
                                <ul class="thumbnails">
                                    @foreach (var item in featuredProducts[index])
                                    {
                                        <li class="span3">
                                            <div class="thumbnail">
                                                <i class="tag-featured"></i>
                                                <a href="@Url.Action("Detail", "Product", new { slug = item.slug })"><img src="@(Configuration["BaseAddress"] + "/user-content/" + @item.image)" alt="@item.name"></a>
                                                <div class="caption">
                                                    <h5>@item.name</h5>
                                                </div>
                                                <div class="footer-thumbnail">
                                                    @if (item.promotion_price > 1)
                                                    {
                                                        <span class="product-price">@String.Format(info, "{0:c}", item.promotion_price)</span>
                                                        <span class="product-promotion-pirce">@String.Format(info, "{0:c}", item.unit_price)</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="product-price">@String.Format(info, "{0:c}", item.unit_price)</span>
                                                    }

                                                </div>
                                                @if (item.instock > 0 || item.instock == null)
                                                {
                                                    <div class="product-btn">
                                                        <a class="btn-View btn btn-danger btn-buy-now" data-id="@item.id" href="#" localize-content>
                                                            <i class="fas fa-shopping-cart"></i>
                                                            Mua ngay
                                                        </a>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="product-btn">
                                                        <a class="btn-View btn btn" data-id="@item.id" href="@Url.Action("Detail", "Product", new { slug = item.slug})" localize-content>
                                                            <i class="fas fa-shopping-cart"></i>
                                                            Xem chi tiết
                                                        </a>
                                                    </div>
                                                }
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        }
                    </div>

                    <a class="left carousel-control" href="#featured" data-slide="prev">‹</a>
                    <a class="right carousel-control" href="#featured" data-slide="next">›</a>
                </div>

            </div>
        </div>
        <div class="well well-small mb-5">
            <h4>Sản phẩm bán chạy <small class="pull-right">@Model.BestSellerProducts.Count Sản phẩm</small></h4>
            <div class="row-fluid">
                <div id="bestseller" class="carousel slide">
                    <div class="carousel-inner">
                        @{
                            List<List<ProductOverViewModel>> bestProducts = new List<List<ProductOverViewModel>>();
                            List<ProductOverViewModel> bestSellerPart = new List<ProductOverViewModel>();
                        }

                        @for (int index = 0; index < Model.BestSellerProducts.Products.Count; index++)
                        {
                            bestSellerPart.Add(Model.BestSellerProducts.Products[index]);
                            if (bestSellerPart.Count == 4 || index == Model.BestSellerProducts.Count - 1)
                            {
                                bestProducts.Add(bestSellerPart);
                                bestSellerPart = new List<ProductOverViewModel>();
                            }
                        }

                        @for (int index = 0; index < bestProducts.Count; index++)
                        {
                            <div class="item @(index == 0?"active":"")">
                                <ul class="thumbnails">
                                    @foreach (var item in bestProducts[index])
                                    {
                                        <li class="span3">
                                            <div class="thumbnail">
                                                <i class="tag-best-seller"></i>
                                                <a href="@Url.Action("Detail", "Product", new { slug = item.slug})"><img src="@(Configuration["BaseAddress"] + "/user-content/" + @item.image)" alt="@item.name"></a>
                                                <div class="caption">
                                                    <h5>@item.name</h5>
                                                </div>
                                                <div class="footer-thumbnail">
                                                    @if (item.promotion_price > 1)
                                                    {
                                                        <span class="product-price">@String.Format(info, "{0:c}", item.promotion_price)</span>
                                                        <span class="product-promotion-pirce">@String.Format(info, "{0:c}", item.unit_price)</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="product-price">@String.Format(info, "{0:c}", item.unit_price)</span>
                                                    }

                                                </div>
                                                @if (item.instock > 0 || item.instock == null)
                                                {
                                                    <div class="product-btn">
                                                        <a class="btn-View btn btn-danger btn-buy-now" data-id="@item.id" href="#" localize-content>
                                                            <i class="fas fa-shopping-cart"></i>
                                                            Mua ngay
                                                        </a>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="product-btn">
                                                        <a class="btn-View btn btn" data-id="@item.id" href="@Url.Action("Detail", "Product", new { slug = item.slug})" localize-content>
                                                            <i class="fas fa-shopping-cart"></i>
                                                            Xem chi tiết
                                                        </a>
                                                    </div>
                                                }
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        }
                    </div>

                    <a class="left carousel-control" href="#bestseller" data-slide="prev">‹</a>
                    <a class="right carousel-control" href="#bestseller" data-slide="next">›</a>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="span12">
        <div class="background-category-section-1 ladi-image-background">
            <div class="image-category-vga image-category-product">


            </div>
            @if (Model.ListCategoryProducts[0].Category != null)
            {
                <a class="pull-right-text read-more" href="@Url.Action("Category", "Product", new { slug = Model.ListCategoryProducts[0].Category.cate_slug })">

                    <img src="~/images/button-9-18-8-2018.gif" width="100" height="50" />
                </a>
            }

            <ul class="thumbnails category-products">
                @{
                    if (Model.ListCategoryProducts[0].Products != null)
                    {
                        foreach (var product in Model.ListCategoryProducts[0].Products)
                        {
                            <li class="span3">
                                <div class="thumbnail">
                                    @if (product.featured)
                                    {
                                        <i class="tag-featured"></i>
                                    }
                                    else if (product.best_seller)
                                    {
                                        <i class="tag-best-seller"></i>
                                    }
                                    else if (product.promotion_price > 1)
                                    {
                                        <i class="tag-sale"></i>
                                    }
                                    else if ((DateTime.Now - product.create_at).TotalDays < 7)
                                    {
                                        <i class="tag"></i>
                                    }
                                    <a href="@Url.Action("Detail", "Product", new { slug = product.slug })"><img src="@(Configuration["BaseAddress"] + "/user-content/" + @product.image)" alt="@product.name" /></a>
                                    <div class="caption">
                                        <h5>@product.name</h5>
                                    </div>
                                    <div class="footer-thumbnail">
                                        @if (product.promotion_price > 1)
                                        {
                                            <span class="product-price">@String.Format(info, "{0:c}", product.promotion_price)</span><br />
                                            <span class="product-promotion-pirce">@String.Format(info, "{0:c}", product.unit_price)</span>
                                        }
                                        else
                                        {
                                            <span class="product-price">@String.Format(info, "{0:c}", product.unit_price)</span>
                                        }
                                    </div>
                                    <div class="product-short-desc">
                                        @Html.Raw(product.short_desc)
                                    </div>
                                    <h4 style="text-align:center">
                                        <a class="btn btn-add-cart" data-id="@product.id" href="#">Thêm vào <i class="icon-shopping-cart"></i></a>
                                        <a class="btn btn-danger btn-buy-now" data-id="@product.id" href="#">Mua ngay</a>
                                    </h4>
                                </div>
                            </li>
                        }

                    }
                }
            </ul>
        </div>

        <div class="background-category-section-2  ladi-image-background">
            <div class="image-category-product image-category-cpu">

            </div>
            @if (Model.ListCategoryProducts[0].Category != null)
            {
                <a class="pull-right-text read-more" href="@Url.Action("Category", "Product", new { slug = Model.ListCategoryProducts[1].Category.cate_slug })">

                    <img src="~/images/button-9-18-8-2018.gif" width="100" height="50" />
                </a>
            }
            <ul class="thumbnails category-products">
                @{
                    if (Model.ListCategoryProducts[1].Products != null)
                    {
                        foreach (var product in Model.ListCategoryProducts[1].Products)
                        {
                            <li class="span3">
                                <div class="thumbnail">
                                    @if (product.featured)
                                    {
                                        <i class="tag-featured"></i>
                                    }
                                    else if (product.best_seller)
                                    {
                                        <i class="tag-best-seller"></i>
                                    }
                                    else if (product.promotion_price > 1)
                                    {
                                        <i class="tag-sale"></i>
                                    }
                                    else if ((DateTime.Now - product.create_at).TotalDays < 7)
                                    {
                                        <i class="tag"></i>
                                    }
                                    <a href="@Url.Action("Detail", "Product", new { slug = product.slug })"><img src="@(Configuration["BaseAddress"] + "/user-content/" + @product.image)" alt="@product.name" /></a>
                                    <div class="caption">
                                        <h5>@product.name</h5>
                                    </div>
                                    <div class="footer-thumbnail">
                                        @if (product.promotion_price > 1)
                                        {
                                            <span class="product-price">@String.Format(info, "{0:c}", product.promotion_price)</span><br />
                                            <span class="product-promotion-pirce">@String.Format(info, "{0:c}", product.unit_price)</span>
                                        }
                                        else
                                        {
                                            <span class="product-price">@String.Format(info, "{0:c}", product.unit_price)</span>
                                        }
                                    </div>
                                    <div class="product-short-desc">
                                        @Html.Raw(product.short_desc)
                                    </div>
                                    <h4 style="text-align:center">
                                        <a class="btn btn-add-cart" data-id="@product.id" href="#">Thêm vào <i class="icon-shopping-cart"></i></a>
                                        <a class="btn btn-danger btn-buy-now" data-id="@product.id" href="#">Mua ngay</a>
                                    </h4>
                                </div>
                            </li>
                        }

                    }
                }
            </ul>
        </div>

        <div class="background-category-section-1 ladi-image-background">
            <div class="image-category-mainboard image-category-product">


            </div>
            @if (Model.ListCategoryProducts[3].Category != null)
            {
                <a class="pull-right-text read-more" href="@Url.Action("Category", "Product", new { slug = Model.ListCategoryProducts[3].Category.cate_slug })">

                    <img src="~/images/button-9-18-8-2018.gif" width="100" height="50" />
                </a>
            }

            <ul class="thumbnails category-products">
                @{
                    if (Model.ListCategoryProducts[3].Products != null)
                    {
                        foreach (var product in Model.ListCategoryProducts[3].Products)
                        {
                            <li class="span3">
                                <div class="thumbnail">
                                    @if (product.featured)
                                    {
                                        <i class="tag-featured"></i>
                                    }
                                    else if (product.best_seller)
                                    {
                                        <i class="tag-best-seller"></i>
                                    }
                                    else if (product.promotion_price > 1)
                                    {
                                        <i class="tag-sale"></i>
                                    }
                                    else if ((DateTime.Now - product.create_at).TotalDays < 7)
                                    {
                                        <i class="tag"></i>
                                    }
                                    <a href="@Url.Action("Detail", "Product", new { slug = product.slug })"><img src="@(Configuration["BaseAddress"] + "/user-content/" + @product.image)" alt="@product.name" /></a>
                                    <div class="caption">
                                        <h5>@product.name</h5>
                                    </div>
                                    <div class="footer-thumbnail">
                                        @if (product.promotion_price > 1)
                                        {
                                            <span class="product-price">@String.Format(info, "{0:c}", product.promotion_price)</span><br />
                                            <span class="product-promotion-pirce">@String.Format(info, "{0:c}", product.unit_price)</span>
                                        }
                                        else
                                        {
                                            <span class="product-price">@String.Format(info, "{0:c}", product.unit_price)</span>
                                        }
                                    </div>
                                    <div class="product-short-desc">
                                        @Html.Raw(product.short_desc)
                                    </div>
                                    <h4 style="text-align:center">
                                        <a class="btn btn-add-cart" data-id="@product.id" href="#">Thêm vào <i class="icon-shopping-cart"></i></a>
                                        <a class="btn btn-danger btn-buy-now" data-id="@product.id" href="#">Mua ngay</a>
                                    </h4>
                                </div>
                            </li>
                        }

                    }
                }
            </ul>
        </div>

        <div class="background-category-section-2 ladi-image-background">
            <div class="image-category-ram image-category-product">


            </div>
            @if (Model.ListCategoryProducts[4].Category != null)
            {
                <a class="pull-right-text read-more" href="@Url.Action("Category", "Product", new { slug = Model.ListCategoryProducts[4].Category.cate_slug })">

                    <img src="~/images/button-9-18-8-2018.gif" width="100" height="50" />
                </a>
            }

            <ul class="thumbnails category-products">
                @{
                    if (Model.ListCategoryProducts[4].Products != null)
                    {
                        foreach (var product in Model.ListCategoryProducts[4].Products)
                        {
                            <li class="span3">
                                <div class="thumbnail">
                                    @if (product.featured)
                                    {
                                        <i class="tag-featured"></i>
                                    }
                                    else if (product.best_seller)
                                    {
                                        <i class="tag-best-seller"></i>
                                    }
                                    else if (product.promotion_price > 1)
                                    {
                                        <i class="tag-sale"></i>
                                    }
                                    else if ((DateTime.Now - product.create_at).TotalDays < 7)
                                    {
                                        <i class="tag"></i>
                                    }
                                    <a href="@Url.Action("Detail", "Product", new { slug = product.slug })"><img src="@(Configuration["BaseAddress"] + "/user-content/" + @product.image)" alt="@product.name" /></a>
                                    <div class="caption">
                                        <h5>@product.name</h5>
                                    </div>
                                    <div class="footer-thumbnail">
                                        @if (product.promotion_price > 1)
                                        {
                                            <span class="product-price">@String.Format(info, "{0:c}", product.promotion_price)</span><br />
                                            <span class="product-promotion-pirce">@String.Format(info, "{0:c}", product.unit_price)</span>
                                        }
                                        else
                                        {
                                            <span class="product-price">@String.Format(info, "{0:c}", product.unit_price)</span>
                                        }
                                    </div>
                                    <div class="product-short-desc">
                                        @Html.Raw(product.short_desc)
                                    </div>
                                    <h4 style="text-align:center">
                                        <a class="btn btn-add-cart" data-id="@product.id" href="#">Thêm vào <i class="icon-shopping-cart"></i></a>
                                        <a class="btn btn-danger btn-buy-now" data-id="@product.id" href="#">Mua ngay</a>
                                    </h4>
                                </div>
                            </li>
                        }
                    }
                }
            </ul>
        </div>

        <div class="background-category-section-1 ladi-image-background">
            <div class="image-category-mainboard image-category-product">


            </div>
            @if (Model.ListCategoryProducts[3].Category != null)
            {
                <a class="pull-right-text read-more" href="@Url.Action("Category", "Product", new { slug = Model.ListCategoryProducts[3].Category.cate_slug })">

                    <img src="~/images/button-9-18-8-2018.gif" width="100" height="50" />
                </a>
            }

            <ul class="thumbnails category-products">
                @{
                    if (Model.ListCategoryProducts[3].Products != null)
                    {
                        foreach (var product in Model.ListCategoryProducts[3].Products)
                        {
                            <li class="span3">
                                <div class="thumbnail">
                                    @if (product.featured)
                                    {
                                        <i class="tag-featured"></i>
                                    }
                                    else if (product.best_seller)
                                    {
                                        <i class="tag-best-seller"></i>
                                    }
                                    else if (product.promotion_price > 1)
                                    {
                                        <i class="tag-sale"></i>
                                    }
                                    else if ((DateTime.Now - product.create_at).TotalDays < 7)
                                    {
                                        <i class="tag"></i>
                                    }
                                    <a href="@Url.Action("Detail", "Product", new { slug = product.slug })"><img src="@(Configuration["BaseAddress"] + "/user-content/" + @product.image)" alt="@product.name" /></a>
                                    <div class="caption">
                                        <h5>@product.name</h5>
                                    </div>
                                    <div class="footer-thumbnail">
                                        @if (product.promotion_price > 1)
                                        {
                                            <span class="product-price">@String.Format(info, "{0:c}", product.promotion_price)</span><br />
                                            <span class="product-promotion-pirce">@String.Format(info, "{0:c}", product.unit_price)</span>
                                        }
                                        else
                                        {
                                            <span class="product-price">@String.Format(info, "{0:c}", product.unit_price)</span>
                                        }
                                    </div>
                                    <div class="product-short-desc">
                                        @Html.Raw(product.short_desc)
                                    </div>
                                    <h4 style="text-align:center">
                                        <a class="btn btn-add-cart" data-id="@product.id" href="#">Thêm vào <i class="icon-shopping-cart"></i></a>
                                        <a class="btn btn-danger btn-buy-now" data-id="@product.id" href="#">Mua ngay</a>
                                    </h4>
                                </div>
                            </li>
                        }

                    }
                }
            </ul>
        </div>

    </div>
</div>