@using System.Security.Claims;
@using Microsoft.AspNetCore.Http;
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
@{
    ViewData["Title"] = "Giỏ hàng";
}
@section Script{
    <script src="~/js/Cart.js"></script>
    <script>
        var cartController = new CartController();
        cartController.initialize();
    </script>
}

<div class="span9">
    <ul class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home", new { area = "" })">Trang chủ</a> <span class="divider">/</span></li>
        <li class="active"> Giỏ hàng</li>
    </ul>
    <h3>
        GIỎ HÀNG <small><span id="lbl_number_of_items"><span></span></span> sản phẩm </small>
    </h3>
    <hr class="soft" />


    <div class="table-responsive">
        <table class="table table-bordered table-cart">
            <thead>
                <tr>
                    <th>Ảnh</th>
                    <th>Tên sản phẩm</th>
                    <th>Sớ lượng/Cập nhật</th>
                    <th>Giá</th>
                    <th>Khuyến mãi</th>
                    <th>Tổng</th>
                </tr>
            </thead>
            <tbody id="cart_body">
            </tbody>
            <tfoot class="table-hr-top">
                <tr>
                    <td colspan="5" style="text-align:right">Tổng tạm tính:	</td>
                    <td id="lbl_total">0đ</td>
                </tr>
                <tr>
                    <td colspan="5" style="text-align:right">Mã giảm giá:	</td>
                    <td>- <span id="lbl_couponprice">0đ</span></td>
                </tr>
                <tr>
                    <td colspan="5" style="text-align:right"><strong>Thành tiền </strong></td>
                    <td class="label label-important" style="display:block"> <strong><span id="lbl_maintotal">0đ</span></strong></td>
                </tr>
            </tfoot>
        </table>
    </div>


    <table class="table table-bordered table-cart">
        <tbody>
            <tr>
                <td>
                    <div class="control-group">
                        <label class="control-label"><strong> Mã GIẢM GIÁ: </strong> </label>
                        <div class="controls">
                            <div class="d-flex">
                                <input type="text" class="input-medium" value="@ViewBag.CouponCode" id="codeCoupon" style="text-transform:uppercase" placeholder="CODE">
                                @if (!User.Identity.IsAuthenticated)
                                {
                                    <button type="button" class="btn btn-coupon margin-left-10" onclick="alert('Quý khách cần đăng nhập để sử dụng mã giảm giá')"> Áp dụng </button><br />
                                }
                                else
                                {
                                    <button type="button" class="btn btn-coupon margin-left-10" id="btnApplyCoupon"> Áp dụng </button><br />
                                }
                                <input class="btn btn-danger btn-coupon" value="Hủy" type="@(!string.IsNullOrWhiteSpace(ViewBag.CouponCode) ? "button":"hidden")" id="btnCancelCoupon">
                            </div>
                            <span id="CouponMessage">@ViewBag.CouponMessage</span>
                        </div>
                    </div>
                </td>
            </tr>

        </tbody>
    </table>

    <a href="@Url.Action("Index", "Home", new { area = "" })" class="btn btn-large table-cart"><i class="icon-arrow-left"></i> Tiếp tục mua hàng </a>
    @{
        if (!string.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("CartSession")))
        {
            <div id="btn-purchase" class="pull-right">
            </div>
        }
    }
</div>
<input type="hidden" id="hidBaseAddress" value="@(Configuration["BaseAddress"])" />