@using TechShopSolution.ViewModels.Common;
@model PagedResult<TechShopSolution.ViewModels.Catalog.Customer.CustomerViewModel>
@{
    ViewData["Title"] = "Danh sách khách hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid px-4">
    <h1 class="mt-4">Danh sách khách hàng</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
        <li class="breadcrumb-item active">Danh sách khách Hàng</li>
    </ol>
    <div class="card mb-4">
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <a class="btn btn-success btnAdd" asp-action="Create" asp-controller="Customer">
            <i class="fa fa-plus"></i>
            Thêm khách hàng</a>
        </div>
        <div class="card-body shadow">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead class="table-light">
                        <tr>
                            <th scope="col">
                                Họ và tên
                            </th>
                            <th scope="col">
                                Số điện thoại
                            </th>
                            <th scope="col">
                                Giới tính
                            </th>
                            <th scope="col">
                                Địa chỉ
                            </th>
                            <th scope="col">
                                Trạng thái
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.phone)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.sex)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.address)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.status)
                                </td>
                                <td>
                                    @Html.ActionLink("Sửa", "Update", new { id = item.id }) |
                                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
