@using TechShopSolution.ViewModels.Common;
@model PagedResult<TechShopSolution.ViewModels.Catalog.Customer.CustomerViewModel>
@{
    ViewData["Title"] = "Danh sách khách hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var pageIndex = Context.Request.Query["pageIndex"];
}
@section jsFooter {
    @if (ViewBag.ErrorMsg != null)
    {
        <script>
            window.onload = function () {
                var x = document.getElementById("snackbarDanger");

                // Add the "show" class to DIV
                x.className = "show";

                // After 3 seconds, remove the show class from DIV
                setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);
            };
        </script>
    }
    @if (ViewBag.SuccessMsg != null)
    {
        <script>
            window.onload = function () {
                var x = document.getElementById("snackbar");

                // Add the "show" class to DIV
                x.className = "show";

                // After 3 seconds, remove the show class from DIV
                setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);
            };
        </script>
    }
}
<div class="container-fluid px-4">
    <h3 class="mt-4">Danh sách khách hàng</h3>
    <ol class="breadcrumb mb-1">
        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
        <li class="breadcrumb-item active">Khách Hàng</li>
    </ol>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="padding-container">
        <a class="btn btn-success mb-3" asp-action="Create" asp-controller="Customer">
            <i class="fa fa-plus"></i>
            Thêm mới
        </a>
        <!-- Navbar Search-->
        <form class="d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0" asp-action="index" method="get" style="float: right;">
            <div class="input-group">
                <label for="pet-select"></label>
                <input class="form-control" name="Keyword" type="text" value="@ViewBag.Keyword" placeholder="Nhập từ khóa tìm kiếm..." aria-label="Nhập từ khóa tìm kiếm..." aria-describedby="btnNavbarSearch" />
                <button class="btn btn-primary" id="btnNavbarSearch" type="submit"><i class="fas fa-search"></i></button>
                <button class="btn btn-secondary" id="btnNavbarSearch" type="button" onclick="window.location.href='/Customer/index'"><i class="fas fa-times"></i></button>
            </div>
        </form>
        <!-- Notification -->
        @if (ViewBag.SuccessMsg != null)
        {
            <div class="alert alert-success" id="snackbar" role="alert">
                <b>@ViewBag.SuccessMsg</b>
            </div>
        }
        @if (ViewBag.ErrorMsg != null)
        {
            <div class="alert alert-danger" id="snackbarDanger" role="alert">
                <b>@ViewBag.ErrorMsg</b>
            </div>
        }
        <!-- The actual snackbar -->
        <div class="table-responsive shadow-lg">
            <table class="table table-bordered table-hover">
                <thead class="table-light thead-dark">
                    <tr>
                        <th scope="col">
                            Họ và tên
                        </th>
                        <th scope="col">
                            Số điện thoại
                        </th>
                        <th scope="col" class="text-center">
                            Giới tính
                        </th>
                        <th scope="col">
                            Địa chỉ
                        </th>
                        <th scope="col" class="text-center">
                            Trạng thái
                        </th>
                        <th class="text-center">
                            Tác vụ
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @if (Model.Items == null)
                    {
                        <tr>
                            <td colspan="6"> Chưa có khách hàng nào.</td>
                        </tr>
                    }
                    else if (Model.TotalRecords == 0)
                    {
                        <tr>
                            <td colspan="6"> Không tìm thấy khách hàng.</td>
                        </tr>
                    }
                    else
                    {
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td>
                                    @Html.ActionLink(item.name, "Update", new { id = item.id })
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.phone)
                                </td>

                                @if (item.sex == true)
                                {
                                    <td align="center">
                                        Nam
                                    </td>
                                }
                                else
                                {
                                    <td align="center">
                                        Nữ
                                    </td>
                                }

                                <td>
                                    @Html.DisplayFor(modelItem => item.address)
                                </td>
                                @if (item.isActive)
                                {
                                    <td align="center">
                                        <input type="checkbox" checked onchange="location.href='@Url.Action("ChangeStatus", "Customer", new { id = item.id, pageIndex = pageIndex })'" data-toggle="toggle" data-onstyle="info" data-height="30" data-width="70">
                                    </td>
                                }
                                else
                                {
                                    <td align="center">
                                        <input type="checkbox" onchange="location.href='@Url.Action("ChangeStatus", "Customer", new { id = item.id, pageIndex = pageIndex })'" data-toggle="toggle" data-onstyle="info" data-height="30" data-width="70">
                                    </td>
                                }
                                <td align="center">
                                    <a href="@Url.Action("Delete", "Customer", new { id = item.id, pageIndex = pageIndex })" class="btn btn-sm btn-outline-danger" onclick="return confirm('Bạn có chắc muốn xóa khách hàng này, hành động này không thể hoàn tác?')">Xóa</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            @await Component.InvokeAsync("Pager", Model)
        </div>
    </div>
</div>
